version: "3.9"

services:
  db:
    image: postgres:16
    container_name: postgres_db
    environment:
      POSTGRES_DB: backend
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: skmfwfem
      TZ: America/Sao_Paulo
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    networks:
      - mynet

  django:
    container_name: django_app
    build: .
    ports:
      - "3050:3050"
    env_file:
      - .env
    environment:
      TZ: America/Sao_Paulo
    depends_on:
      - db
    networks:
      - mynet

volumes:
  postgres_data:

networks:
  mynet:
    external: true
