version: '3.9'
services:
  web:
    build: .
    container_name: django_api_web
    ports:
      - "3050:3050"
    env_file:
      - .env
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
    networks:
      - mynet
    restart: unless-stopped

volumes:
  static_volume:


networks:
  mynet:
    external:
      name: mynet