version: "3.9"

services:
  db:
    image: postgres:16
    container_name: postgres_db
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    networks:
      - mynet
    restart: unless-stopped
    

  backend:
    container_name: backend
    build: ./backend
    env_file:
      - .env
    environment:
      TZ: America/Sao_Paulo
    volumes:
      - static_data:/vol/web/static
      - media_data:/vol/web/media
      - log_data:/vol/web/logs
    depends_on:
      - db
    expose:
      - "8000"
    networks:
      - mynet
    # Define servidores DNS personalizados se precisar resolver nomes de domínio específicos
    dns:
      - 8.8.8.8
      - 1.1.1.1
    
    restart: unless-stopped
    
  nginx:
    build: ./nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - static_data:/vol/web/static
      - media_data:/vol/web/media
      - log_data:/vol/web/logs
      - certificates_data:/etc/nginx/certs
    depends_on:
      - backend
    networks:
      - mynet
    restart: unless-stopped

volumes:
  postgres_data:
  static_data:
  media_data:
  log_data:
  certificates_data:

networks:
  mynet:
    external: true
