version: "3.9"

services:
  django:
    container_name: django_app
    build: .
    command: gunicorn core.wsgi:application --bind 0.0.0.0:3050
    ports:
      - "3050:3050"
    env_file:
      - .env
    networks:
      - mynet

networks:
  mynet:
    external: true
